@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        /* give titles some breathing room when scrolled to */
        scroll-padding-top: 80px;
    }

    body {
        @apply bg-gradient-to-b from-slate-100 to-slate-200 text-primary-black;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    h1 {
        @apply font-semibold text-primary-black 2xl:text-[55px] lg:text-[50px] md:text-[45px] sm:text-[45px] text-[40px] 2xl:leading-[60px] lg:leading-[55px] md:leading-[50px] sm:leading-[45px] leading-[40px];
    }

    h2 {
        @apply font-semibold text-primary-black 2xl:text-4xl xl:text-3xl lg:text-3xl md:text-3xl sm:text-3xl text-3xl;
    }

    h3 {
        @apply font-semibold text-primary-black 2xl:text-2xl xl:text-2xl md:text-xl sm:text-xl text-lg;
    }

    p {
        @apply font-light text-primary-black 2xl:text-xl xl:text-[19px] md:text-lg sm:text-[17px] text-[16px] 2xl:leading-[27px] xl:leading-[26px] lg:leading-[25px] md:leading-[24px] sm:leading-[22px] leading-[21px];
    }
}